.filter-button.MuiButton-contained {
    background-color: rgba(0, 0, 0, 0.658);
    height: 56px;
}

.searching .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: mediumpurple;
}

.searching .MuiInputLabel-root.Mui-focused {
    color: mediumpurple;
}

.searching {
    width: 200px;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.filter-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px; /* רווח בין העמודות */
}

.filter-column {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
}

.filter-column h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: mediumpurple;
}

.apply-filters-button {
    margin-top: 20px;
}